---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/subscriptions/subscription_f6e7874cf5a4a8b6d396cbb3/end_subscription
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8506fc935eefce278d7ea52237bcf694"
    body:
      encoding: UTF-8
      string: '{"subscription":{"id":"subscription_f6e7874cf5a4a8b6d396cbb3","customer_id":"customer_7439352cf50e2616ef8d997a","created_at":"2021-11-10T13:49:46.355Z","updated_at":"2021-11-10T14:03:40.877Z","active":false,"trial_finishes_at":null,"bills_at":"start","billing_period_duration":"P1M","pricings":[{"id":"pricing_ea1f7c8c15bee31736d12242","name":"Básico","currency":"CLP","product_id":"product_cb870654623ffa74dc26c647","price_logics":[{"id":"price-logic_0ce38b40f4c1752412ac3b72","type":"FlatFee","price":"15000.0","price_currency":"CLP","meter_count_method":null,"tiers":null}]}],"permission_group":null}}'
  recorded_at: Wed, 10 Nov 2021 14:03:41 GMT
recorded_with: VCR 6.0.0
