---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/meter_events
    body:
      encoding: UTF-8
      string: '{"customer_id":"customer_7439352cf50e2616ef8d997a","meter_id":"meter_5ef790a8ee1f2d1710cd2f13","amount":1,"action":"increment"}'
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 10 Nov 2021 13:40:57 GMT
recorded_with: VCR 6.0.0
