---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/products
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33ea6fd91757aa5e83710491dfaf5c33"
    body:
      encoding: UTF-8
      string: '{"products":[{"id":"product_cfe7a030450a816d311271cb","name":"Producto
        transporte a empresas","meter":{"id":"meter_0c8008dbf7b2e48cf277987e","name":"N°
        de despachos"},"pricings":[{"id":"pricing_ac69388b6d914bf39783abf7","name":"Chile
        ","currency":"CLP","product_id":"product_cfe7a030450a816d311271cb","price_logics":[{"id":"price-logic_4eac85ee90bd41a2cd8bde12","type":"PerUnit","price":"2300.0","price_currency":"CLP","meter_count_method":"period_sum","tiers":null}]}]},{"id":"product_1e32af55f6d145fc2682d1ee","name":"Plan
        básico","meter":null,"pricings":[{"id":"pricing_199a7aa9deb625f44490ff56","name":"Chile","currency":"USD","product_id":"product_1e32af55f6d145fc2682d1ee","price_logics":[{"id":"price-logic_cee78398e5de5be385111c53","type":"FlatFee","price":"0.0","price_currency":"USD","meter_count_method":null,"tiers":null}]}]},{"id":"product_ba6a962f169ca3726c7e71b1","name":"Mudanzas","meter":{"id":"meter_5ef790a8ee1f2d1710cd2f13","name":"M[...]
