---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/meter_events
    body:
      encoding: UTF-8
      string: '{"customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","meter_id":"meter_5ef790a8ee1f2d1710cd2f13","amount":1,"action":"increment"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"223aeabb86a03f2f96765deda9f3d45f"
    body:
      encoding: UTF-8
      string: '{"meter_event":{"id":"event_5c222956163c5250258f1ad4","timestamp":"2021-11-04T20:46:26.875Z","amount":1.0,"action":"increment","created_at":"2021-11-04T20:46:26.902Z","idempotency_key":null,"meter_id":"meter_5ef790a8ee1f2d1710cd2f13","customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3"}}'
  recorded_at: Thu, 04 Nov 2021 20:46:27 GMT
recorded_with: VCR 6.0.0
