---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/customers
    body:
      encoding: UTF-8
      string: '{"identifier":"customer_dde1c281812f0af2fd1ba08d","email":"test@gmail.com","billing_information":{"country_iso_code":"CL"},"name":"customer"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0cbbd4233361656894112c5681426ee"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"customer_58c10ff0748a8421ffe1a359","identifier":"customer_dde1c281812f0af2fd1ba08d","name":"customer","email":"test@gmail.com","created_at":"2021-11-05T13:32:15.646Z","updated_at":"2021-11-05T13:32:15.646Z","active_subscription":null,"billing_information":{"city":null,"country_iso_code":"CL","state":null,"address":null,"zip":null,"tax_id":null,"activity":null,"legal_name":null,"phone":null}}}'
  recorded_at: Fri, 05 Nov 2021 13:32:15 GMT
recorded_with: VCR 6.0.0
