---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/permission_groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3324f1cfcb0b9df086009e7c97f286b0"
    body:
      encoding: UTF-8
      string: '{"permission_groups":[{"id":"permission-group_dc5b77670da8c8d2de2219c1","name":"wow","permissions":[{"limit":null,"name":"Usuarios"},{"limit":"Infinity","name":"Despachos"}]}]}'
  recorded_at: Wed, 10 Nov 2021 13:41:00 GMT
recorded_with: VCR 6.0.0
