---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Per-Page:
      - '25'
      X-Page:
      - '1'
      X-Total:
      - '6'
      Etag:
      - W/"57626801c6c4cd138fe9cf15c5ab714a"
    body:
      encoding: UTF-8
      string: '{"customers":[{"id":"customer_e9585b900c38db249f38f59c","identifier":"a","name":"Phobos","email":"phobos@getplutto.com","created_at":"2021-09-24T17:29:43.914Z","updated_at":"2021-09-24T17:29:43.914Z"},{"id":"customer_dde1c281812f0af2fd1ba08d","identifier":"customer_dde1c281812f0af2fd1ba08d","name":null,"email":"marco@platan.us","created_at":"2021-10-20T14:55:54.231Z","updated_at":"2021-10-20T14:55:54.231Z"},{"id":"customer_b04ef7affc19897cb8a15803","identifier":"33","name":"Jumbo","email":"hola@jumbo.cl","created_at":"2021-10-25T18:11:32.329Z","updated_at":"2021-10-25T18:11:32.329Z"},{"id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","identifier":"customer_aa97aa3f9b0f6bc4b1c8a2a3","name":"Platanus","email":"contact@platan.us","created_at":"2021-10-04T14:11:12.015Z","updated_at":"2021-10-04T14:11:12.015Z"},{"id":"customer_7a6c49abab8ac509155fb2f2","identifier":"customer_7a6c49abab8ac509155fb2f2","name":"Platanus","email":"contact@platan.us","created_at":"2021-10-04T21:51:55.104Z","updated_at":"2021-10-04T21:51:55.104Z"},{"id":"customer_64b9534dd761b596aa7f05a8","identifier":"customer_64b9534dd761b596aa7f05a8","name":"Platanus","email":"contact@platan.us","created_at":"2021-10-04T18:22:41.529Z","updated_at":"2021-10-04T18:22:41.529Z"}]}'
  recorded_at: Tue, 26 Oct 2021 15:55:13 GMT
recorded_with: VCR 6.0.0
