---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/meter_events
    body:
      encoding: UTF-8
      string: '{"customer_id":"customer_7439352cf50e2616ef8d997a","meter_id":"meter_5ef790a8ee1f2d1710cd2f13","amount":1,"action":"increment"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1fd9f3964ebb2cd31c50ca90505b7d7"
    body:
      encoding: UTF-8
      string: '{"meter_event":{"id":"event_628d8c6c18fa4eff83cea65d","timestamp":"2021-11-10T13:40:56.914Z","amount":1.0,"action":"increment","created_at":"2021-11-10T13:40:56.923Z","idempotency_key":null,"meter_id":"meter_5ef790a8ee1f2d1710cd2f13","customer_id":"customer_7439352cf50e2616ef8d997a"}}'
  recorded_at: Wed, 10 Nov 2021 13:40:57 GMT
recorded_with: VCR 6.0.0
