---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/subscriptions/subscription_b6144cb887f20acc7a56be89/remove_pricings
    body:
      encoding: UTF-8
      string: '{"pricings":["pricing_ea1f7c8c15bee31736d12242"]}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6adc15e312d0e152c4273f86c95416a4"
    body:
      encoding: UTF-8
      string: '{"subscription":{"id":"subscription_b6144cb887f20acc7a56be89","customer_id":"customer_b04ef7affc19897cb8a15803","created_at":"2021-10-28T18:07:52.846Z","updated_at":"2021-11-04T00:12:14.416Z","active":false,"trial_finishes_at":null,"bills_at":"start","billing_period_duration":"P3M","pricings":[{"id":"pricing_ea1f7c8c15bee31736d12242","name":"Básico","currency":"CLP","product_id":"product_cb870654623ffa74dc26c647","price_logics":[{"id":"price-logic_0ce38b40f4c1752412ac3b72","type":"FlatFee","price":"15000.0","price_currency":"CLP","meter_count_method":null,"tiers":null}]}],"permission_group":{"id":"permission-group_648e47e0c9992e7c3d975824","name":"Plan
        básico","permissions":[{"limit":100.0,"name":"Despachos"},{"limit":null,"name":"Usuarios"}]}}}'
  recorded_at: Thu, 04 Nov 2021 00:36:19 GMT
recorded_with: VCR 6.0.0
