---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"pricing_ids":["pricing_ea1f7c8c15bee31736d12242"],"billing_period_duration":"P0Y1M0DT0H0M0S","customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","bills_at":"start"}'
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 03 Nov 2021 23:55:32 GMT
recorded_with: VCR 6.0.0
