---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.getplutto.com/api/v1/customers/invalid_customer_id
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","code":"resource_not_found","message":"The
        requested resource cannot be found. This item does not exist or has been previously
        removed.","detail":"Couldn''t find Customer resource","param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 10 Nov 2021 13:40:55 GMT
recorded_with: VCR 6.0.0
