---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/permission_groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04677cc788d2302028dfccc6c5ac94d9"
    body:
      encoding: UTF-8
      string: '{"permission_groups":[{"id":"permission-group_648e47e0c9992e7c3d975824","name":"Plan
        básico","permissions":[{"limit":100.0,"name":"Despachos"},{"limit":null,"name":"Usuarios"}]}]}'
  recorded_at: Thu, 04 Nov 2021 14:35:29 GMT
recorded_with: VCR 6.0.0
