---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.getplutto.com/api/v1/customers/customer_dde1c281812f0af2fd1ba08d
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Fri, 05 Nov 2021 13:26:02 GMT
recorded_with: VCR 6.0.0
