---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/subscriptions/subscription_b6144cb887f20acc7a56be89/remove_pricings
    body:
      encoding: UTF-8
      string: '{"pricings":["pricing_ea1f7c8c15bee31736d12242"]}'
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 10 Nov 2021 13:43:46 GMT
recorded_with: VCR 6.0.0
