---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/subscriptions/subscription_b6144cb887f20acc7a56be89/end_subscription
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Thu, 04 Nov 2021 00:12:14 GMT
recorded_with: VCR 6.0.0
