---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers/ID_123
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33f84d3e3e5361b0fa9c71e412492a7f"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"customer_2804e5db8b91741e8bd0da0e","identifier":"ID_123","name":"customer","email":"test@gmail.com","created_at":"2021-10-26T15:55:08.824Z","updated_at":"2021-10-26T15:55:08.824Z","active_subscription":null,"billing_information":{"city":null,"country_iso_code":"CL","state":null,"address":null,"zip":null,"tax_id":null,"activity":null,"legal_name":null,"phone":null}}}'
  recorded_at: Tue, 26 Oct 2021 15:55:10 GMT
recorded_with: VCR 6.0.0
