---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers/customer_7439352cf50e2616ef8d997a/has_permission/Despachos
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e050dc7048f2f59df74d637308dccfdc"
    body:
      encoding: UTF-8
      string: '{"customer_permission":{"current_usage":null,"limit":null,"allowed":false,"name":"Despachos"}}'
  recorded_at: Wed, 10 Nov 2021 13:40:56 GMT
recorded_with: VCR 6.0.0
