---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers/customer_dde1c281812f0af2fd1ba08d/has_permission/Despachos
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1ede39fb4e7616af8d5fd1b675b0a94"
    body:
      encoding: UTF-8
      string: '{"customer_permission":{"current_usage":0,"limit":null,"allowed":true,"name":"Despachos"}}'
  recorded_at: Thu, 04 Nov 2021 21:31:09 GMT
recorded_with: VCR 6.0.0
