---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers/customer_dde1c281812f0af2fd1ba08d
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42708f76f7734f814a6999cc603f5b4a"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"customer_8946097aa91a41f37338174b","identifier":"customer_dde1c281812f0af2fd1ba08d","name":"customer","email":"test@gmail.com","created_at":"2021-11-10T13:40:51.037Z","updated_at":"2021-11-10T13:40:51.037Z","active_subscription":null,"billing_information":{"city":null,"country_iso_code":"CL","state":null,"address":null,"zip":null,"tax_id":null,"activity":null,"legal_name":null,"phone":null}}}'
  recorded_at: Wed, 10 Nov 2021 13:40:52 GMT
recorded_with: VCR 6.0.0
