---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/invoices/invoice_5281dfee1bccb3a5c78f802e
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 10 Nov 2021 13:40:58 GMT
recorded_with: VCR 6.0.0
