---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/customers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://sandbox.getplutto.com/api/v1/customers?page=2>; rel="last", <https://sandbox.getplutto.com/api/v1/customers?page=2>;
        rel="next"
      X-Per-Page:
      - '25'
      X-Page:
      - '1'
      X-Total:
      - '37'
      Etag:
      - W/"18a654ac613f19d74c9334b05402f475"
    body:
      encoding: UTF-8
      string: '{"customers":[{"id":"customer_e9585b900c38db249f38f59c","identifier":"a","name":"Phobos","email":"phobos@getplutto.com","created_at":"2021-09-24T17:29:43.914Z","updated_at":"2021-09-24T17:29:43.914Z"},{"id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","identifier":"customer_aa97aa3f9b0f6bc4b1c8a2a3","name":"Platanus","email":"contact@platan.us","created_at":"2021-10-04T14:11:12.015Z","updated_at":"2021-10-04T14:11:12.015Z"},{"id":"customer_64b9534dd761b596aa7f05a8","identifier":"customer_64b9534dd761b596aa7f05a8","name":"Platanus","email":"contact@platan.us","created_at":"2021-10-04T18:22:41.529Z","updated_at":"2021-10-04T18:22:41.529Z"},{"id":"customer_7a6c49abab8ac509155f[...]
