---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"pricing_ids":["pricing_ea1f7c8c15bee31736d12242"],"billing_period_duration":"P0Y1M0DT0H0M0S","customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","bills_at":"start"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0acbc0dc9b5d9365402135e6f284bef"
    body:
      encoding: UTF-8
      string: '{"subscription":{"id":"subscription_732f44167c8199f064fa5ea5","customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","created_at":"2021-11-03T23:55:32.285Z","updated_at":"2021-11-03T23:55:32.285Z","active":true,"trial_finishes_at":null,"bills_at":"start","billing_period_duration":"P1M","pricings":[{"id":"pricing_ea1f7c8c15bee31736d12242","name":"Básico","currency":"CLP","product_id":"product_cb870654623ffa74dc26c647","price_logics":[{"id":"price-logic_0ce38b40f4c1752412ac3b72","type":"FlatFee","price":"15000.0","price_currency":"CLP","meter_count_method":null,"tiers":null}]}],"permission_group":null}}'
  recorded_at: Wed, 03 Nov 2021 23:55:32 GMT
recorded_with: VCR 6.0.0
