---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/customers/customer_dde1c281812f0af2fd1ba08d
    body:
      encoding: UTF-8
      string: '{"name":"updated","email":"updated@gmail.com"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc77589f15737e8890bf88f327ec654c"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"customer_dde1c281812f0af2fd1ba08d","identifier":"wtf","name":"updated","email":"updated@gmail.com","created_at":"2021-10-20T14:55:54.231Z","updated_at":"2021-11-05T13:26:00.390Z","active_subscription":{"id":"subscription_43b2cb2afd72155f9cbee546","customer_id":"customer_dde1c281812f0af2fd1ba08d","created_at":"2021-11-04T21:27:38.673Z","updated_at":"2021-11-04T21:27:38.673Z","active":true,"trial_finishes_at":null,"bills_at":"start","billing_period_duration":"P6M","pricings":[{"id":"pricing_3f039f4fff0a5ff4433e2410","name":"Básico","currency":"CLP","product_id":"product_ba6a962f169ca3726c7e71b1","price_logics":[{"id":"price-logic_a1516fa0af0e080ef7d0f394","type":"FlatFee","price":"15000.0","price_currency":"CLP","meter_count_method":null,"tiers":null}]}],"permission_group":{"id":"permission-group_dc5b77670da8c8d2de2219c1","name":"wow","permissions":[{"limit":null,"name":"Usuarios"},{"limit":"Infinity","name":"Despachos"}]}},"billing_information":{"city":null,"country_iso_code":"CL","state":null,"address":null,"zip":null,"tax_id":null,"activity":null,"legal_name":null,"phone":null}}}'
  recorded_at: Fri, 05 Nov 2021 13:26:00 GMT
recorded_with: VCR 6.0.0
