---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.getplutto.com/api/v1/customers/ID_123
    body:
      encoding: UTF-8
      string: '{"name":"updated","email":"updated@gmail.com"}'
    headers:
      Authorization:
      - Bearer invalid api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"authentication_error","code":"unauthorized","message":"No
        valid API key provided.","detail":null,"param":null,"request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Tue, 26 Oct 2021 15:55:11 GMT
recorded_with: VCR 6.0.0
