---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"wrongmail","billing_information":{"country_iso_code":"asd"}}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","code":"unprocessable_entity","message":"Your
        request was understood, but we were not able to process it. Please fix it
        before repeating","detail":"Email invalid email","param":"email","request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Tue, 26 Oct 2021 15:55:10 GMT
recorded_with: VCR 6.0.0
