---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getplutto.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Per-Page:
      - '25'
      X-Page:
      - '1'
      X-Total:
      - '5'
      Etag:
      - W/"5a0cd1d5245a6f075b1c1fb4c9c8ab4e"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":"invoice_5281dfee1bccb3a5c78f802e","subtotal_cents":0,"tax_cents":0,"discount_cents":0,"currency":"CLP","issue_date":"2021-10-20T15:03:35.113Z","created_at":"2021-10-20T15:03:35.121Z","updated_at":"2021-10-28T21:39:05.344Z","customer_id":"customer_e9585b900c38db249f38f59c","status":"voided","payed_at":null,"payment_method":null,"tax_type":null,"document_id":null,"customer_name":"Phobos","customer_email":"phobos@getplutto.com","details":[{"id":"meter_5ef790a8ee1f2d1710cd2f13","type":"per_unit","meter":"Mudanzas","quantity":0,"description":"0
        x Mudanzas","total_price":0.0}],"billing_information":{"city":"Santiago","country_iso_code":null,"state":"Metropolitana","address":"Av.
        las condes 13240","zip":"7591393","tax_id":"19246648-2","activity":null,"legal_name":"Plutto","phone":"+56992680522"},"total":{"cents":0,"currency_iso":"CLP"}},{"id":"invoice_90e4a5e6753d090766ec2a80","subtotal_cents":15000,"tax_cents":2850,"discount_cents":0,"currency":"CLP","issue_date":"2021-10-25T17:55:18.753Z","created_at":"2021-10-25T17:55:18.760Z","updated_at":"2021-10-28T21:25:31.917Z","customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3","status":"created","payed_at":null,"payment_method":null,"tax_type":null,"document_id":null,"customer_name":"Platanus","customer_email":"contact@platan.us","details":[{"id":"price-logic_0ce38b40f4c1752412a[...]
