---
http_interactions:
- request:
    method: post
    uri: https://sandbox.getplutto.com/api/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"pricing_ids":["pricing_ea1f7c8c15bee31736d12242"],"customer_id":"customer_aa97aa3f9b0f6bc4b1c8a2a3"}'
    headers:
      Authorization:
      - Bearer sk_live_0a641854b17cdfed9e98eb7cd3e9e2bfc2687a37470cc8ce71f31c49e33d037f
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","code":"unprocessable_entity","message":"Your
        request was understood, but we were not able to process it. Please fix it
        before repeating","detail":"Pricings already subscribed to this customer","param":"pricings","request_id":null,"docs_url":"https://docs.getplutto.com"}}'
  recorded_at: Wed, 10 Nov 2021 13:49:47 GMT
recorded_with: VCR 6.0.0
